{% extends 'base.html.twig' %}
{% block body %}
	<div class="d-flex justify-content-around flex-warp mt-5 ">
		{% for post in posts %}
			<div class="card" style="width: 18rem;">
				{% if post.image %}
					<img src={{post.image}} alt={{post.title}}/>
				{% endif %}
				<div class="card-body">
					{% if post.title %}
						<h5 class="card-title">{{ post.title }}
						</h5>
					{% endif %}

					<p class="card-text">{{post.content}}</p>
					<a href="Post/delete/{{post.id}}" class="btn btn-primary bg-danger">suprimer</a>
					<a href="Post/update/{{post.id}}" class="btn btn-primary bg-warning">modifier</a>

				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}

